[Unit]
Description=PiKVM container
After=docker.service containerd.service
Wants=network-online.target
BindsTo=docker.socket containerd.service

[Service]
Restart=always
ExecStartPre=/bin/bash -c "/usr/bin/docker container inspect pikvm 2> /dev/null || exec /usr/bin/docker run -d --name=pikvm --hostname=pikvm --net=host -t --security-opt seccomp=unconfined --privileged -v /var/lib/kvmd/pst:/var/lib/kvmd/pst -v /var/lib/kvmd/msd:/var/lib/kvmd/msd -v /var/log/kvmd:/var/log -v /dev:/dev -v /sys:/sys -v /sys/fs/cgroup/pikvm.scope:/sys/fs/cgroup:rw -v /etc/ssl/certs/pikvm.crt:/etc/kvmd/nginx/ssl/server.crt -v /etc/ssl/private/pikvm.key:/etc/kvmd/nginx/ssl/server.key -v /etc/ssl/certs/pikvm-ca.crt:/etc/kvmd/nginx/ssl/ca.crt -v /var/lib/kvmd/nginx.ctx-server.conf:/usr/share/kvmd/extras/customcerts/nginx.ctx-server.conf --init=false --cgroupns=host --tmpfs=/tmp --tmpfs=/run ghcr.io/prototyped/pikvm:latest"
ExecStart=/usr/bin/docker start -a pikvm
ExecStop=/usr/bin/docker stop -t 10 pikvm

[Install]
WantedBy=multi-user.target
